<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/responsive.css">
	<link rel="stylesheet" href="bower_components/OwlCarousel2-2.2.0/dist/assets/owl.carousel.css">
	<link rel="stylesheet" href="bower_components/OwlCarousel2-2.2.0/dist/assets/owl.theme.green.css">
	<link rel="stylesheet" href="bower_components/owl.carousel/owl-carousel/owl.theme.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:300,300i,400,400i,500" rel="stylesheet">
	<title>Biurang - Home page</title>
</head>
<body>
	<header>
		<div class="container">
			<div class="header_top clearfix">
				<a href="index.html" class="header_top_logo">Biurang</a>
				<div class="header_top_contact">
					<p class="header_top_phone">+371 282 20 760</p>

					<div class="header_top_basket_wrapper clearfix">
						<p class="header_top_basket_total">$ 99.54</p>
						<a href="#" class="header_top_basket_checkout">Checkout</a>
					</div>
				</div>
			</div>
			<div class="header_bottom clearfix">
				<nav class="nav clearfix">
					<ul class="header_bottom_nav">
						<li class="header_bottom_nav_item"><a href="index.html">Home</a></li>
						<li class="header_bottom_nav_item"><a href="#">Men</a></li>
						<li class="header_bottom_nav_item"><a href="#">Women</a></li>
						<li class="header_bottom_nav_item"><a href="#">Kids</a></li>
						<li class="header_bottom_nav_item"><a href="#">Sale</a></li>
						<li class="header_bottom_nav_item"><a href="#">About Us</a></li>
						<li class="header_bottom_nav_item"><a href="#">Support</a></li>
					</ul>
				</nav>
				<div class="header_bottom_search">
					<form action="" method="get">
						<input type="image" src="img/ico-magnifier.svg" class="header_bottom_search_btn">
						<input type="search" name="search" placeholder="Search...">
					</form>
				</div>
			</div>
		</div>
	</header>

	<div class="banner">
		<div class="container">
			<div class="owl-carousel owl-theme" id="owl">
				<div class="banner-main">
					<img src="img/banner-main.jpg" alt="">
					<p class="slide-title">Right is pink.<br> Left is blue</p>
					<p class="slide-text">Inspired by Brasil’s bold colors and matching up to football’s on-pitch playmakers, these kicks are ready to stand out.</p>
				</div>
				<div class="banner-main">
					<img src="img/banner-main.jpg" alt="">
					<p class="slide-title">Right is pink.<br> Left is blue</p>
					<p class="slide-text">Inspired by Brasil’s bold colors and matching up to football’s on-pitch playmakers, these kicks are ready to stand out.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="last-news clearfix">
		<div class="container">
			<article class="last-new">
				<div class="last-new__img">
					<a href="#"><img src="img/block-football.jpg" alt="FOOTBALL SHOES"></a>
				</div>
				<div class="last-new__title"><a class="last-new__link" href="#">Football Shoes</a></div>
				<div class="last-new__text">Lorem ipsum dolor sit amet, consectetur adipiscing, vivamus congue nulla leo, quis imperdiet magna.</div>
			</article>
			<article class="last-new">
				<div class="last-new__img">
					<a href="#"><img src="img/block-modern.jpg" alt="FOOTBALL SHOES"></a>
				</div>
				<div class="last-new__title"><a class="last-new__link" href="#">Modern Clothes</a></div>
				<div class="last-new__text">Lorem ipsum dolor sit amet, consectetur adipiscing, vivamus congue nulla leo, quis imperdiet magna.</div>
			</article>
			<article class="last-new">
				<div class="last-new__img">
					<a href="#"><img src="img/block-access.jpg" alt="FOOTBALL SHOES"></a>
				</div>
				<div class="last-new__title"><a class="last-new__link" href="#">Bags & Accessories</a></div>
				<div class="last-new__text">Lorem ipsum dolor sit amet, consectetur adipiscing, vivamus congue nulla leo, quis imperdiet magna.</div>
			</article>
		</div>
	</div>

	<section class="popular clearfix">
		<div class="container">
			<h2 class="popular__title">Popular Products</h2>
			<article class="popular-item">
				<div class="popular-item__img">
					<a href="#"><img src="img/nike-tailwind.jpg" alt="Nike Tailwind Loose"></a>
				</div>
				<div class="popular-item__info">
					<div class="js-pop">
						<a href="#" class="popular-item__title">Nike Tailwind Loose<span class="popular-item__subtitle">Running Tank Top</span></a>
						<p class="popular-item__text">The Nike Tailwind Loose Women's Running Tank Top is made with sweat-wicking fabric to help you stay dry and comfortable on your run.</p>
					</div>
					<div class="b-price-add clearfix">
						<span class="price-add__price">$ 36.99</span>
						<a href="#" class="price-add__btn"></a>
					</div>
				</div>
			</article>
			<article class="popular-item">
				<div class="popular-item__img">
					<a href="#"><img src="img/nike-g87.jpg" alt="Nike g87"></a>
				</div>
				<div class="popular-item__info">
					<div class="js-pop">
						<a href="#" class="popular-item__title">Nike g87<span class="popular-item__subtitle">Training Tank Top</span></a>
						<p class="popular-item__text">The Nike G87 Women's Training Tank Top features soft, sweat-wicking fabric and a regular fit for total comfort during any workout.</p>
					</div>
					<div class="b-price-add clearfix">
						<span class="price-add__price">$ 36.99</span>
						<a href="#" class="price-add__btn"></a>
					</div>
				</div>
			</article>
			<article class="popular-item">
				<div class="popular-item__img">
					<a href="#"><img src="img/nike-i-beam.jpg" alt="Nike I-Beam Swoosh"></a>
				</div>
				<div class="popular-item__info">
					<div class="js-pop">
						<a href="#" class="popular-item__title">Nike I-Beam Swoosh <span class="popular-item__subtitle">Sports Top</span></a>
						<p class="popular-item__text">The Nike I-Beam Swoosh Women's Sports Top features a built-in bra and mesh back panel for lightweight support and targeted breathability.</p>
					</div>
					<div class="b-price-add clearfix">
						<span class="price-add__price">$ 36.99</span>
						<a href="#" class="price-add__btn"></a>
					</div>
				</div>
			</article>
			<article class="popular-item">
				<div class="popular-item__img">
					<a href="#"><img src="img/nike-lux.jpg" alt=""></a>
				</div>
				<div class="popular-item__info">
					<div class="js-pop">
						<a href="#" class="popular-item__title">Nike lux <span class="popular-item__subtitle">Running Top</span></a>
						<p class="popular-item__text">The Nike Lux Women's Running Top is made with lightweight Dri-FIT fabric and features a perforated back panel for comfort and enhanced breathability.</p>
					</div>
					<div class="b-price-add clearfix">
						<span class="price-add__price">$ 36.99</span>
						<a href="#" class="price-add__btn"></a>
					</div>
				</div>
			</article>
		</div>
	</section>

	<section class="about">
		<div class="container clearfix">
			<div class="about-left-block">
				<h3 class="about__title">About</h3>
				<p class="about__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dictum lectus sit amet varius pulvinar. Proin vitae dui tincidunt nibh facilisis pellentesque.  Fusce tortor turpis, facilisis ut condimentum eu, sagittis at est.</p>
				<p class="about__text">Praesent egestas posuere urna a egestas. Maecenas facilisis orci vitae ante  tempor accumsan. Aenean aliquam justo ac sagittis vehicula. Nam mattis pretium odio sit amet vulputate.</p>
				<p class="about__text">Quisque non lobortis orci. Morbi augue mauris, ultrices at fermentum ac, consequat vitae magna. Pellentesque non cursus mi, eu cursus nunc. Nullam  et odio tristique, volutpat urna vitae, dignissim orci. Fusce eu nulla urna. This template was created by Erik Padamans.</p>
				<p class="about__text">Praesent egestas posuere urna a egestas. Maecenas facilisis orci vitae ante  tempor accumsan. Aenean aliquam justo ac sagittis vehicula. Nam mattis pretium odio sit amet vulputate.</p>
			</div>
			<div class="about-right-block">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4339.3752057964675!2d37.5882409491018!3d55.79393799939564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b549f8de3b39bd%3A0x18932e1bb17bab29!2sPuma+Outlet!5e0!3m2!1sru!2sru!4v1481975224605" width="100%" height="311" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</section>

	<div class="subscribe">
		<div class="container clearfix">
			<p class="subscribe__title"><strong>Sign up</strong> for exclusive sales and product news</p>
			<div class="form">
				<form action="" method="get">
					<input type="text" placeholder="eony321v@gmail.com" class="i-form__text i-form__text_sub">
					<input type="submit" value="Sign Up" class="i-form__btn i-form__btn_sub">
				</form>
			</div>
		</div>
	</div>

	<footer class="footer">
		<div class="container clearfix">
			<div class="b-footer b-footer_stories">
				<h3 class="b-footer__title">Our Stories</h3>
				<p class="b-footer__text">Feel free to visit our stores or contact us.<br>1401 South Grand Avenue<br>Los Angeles, CA 90015<br>(213) 748-2411</p>
				<p class="b-footer__text">100 Fairview Drive<br>Franklin, VA 23851<br>(757) 569-6100 </p>
			</div>
			<div class="b-footer b-footer_blog">
				<h3 class="b-footer__title">Blog Posts</h3>
				<p class="b-footer__subtitle">Justin Bieber confirmed that he is gay.</p>
				<p class="b-footer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed auctor elit.</p>
				<p class="b-footer__subtitle">New sexy sport clothes are here!</p>
				<p class="b-footer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed auctor elit.</p>
				<p class="b-footer__subtitle">Summer sales are coming!</p>
				<p class="b-footer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed auctor elit.</p>
			</div>
			<div class="b-footer b-footer_support clearfix">
				<h3 class="b-footer__title">Support</h3>
				<ul class="b-footer__list b-footer__list_left">
					<li class="b-footer__item"><a href="#" class="b-footer__link">Terms & Conditions</a></li>
					<li class="b-footer__item"><a href="#" class="b-footer__link">FAQ</a></li>
					<li class="b-footer__item"><a href="#" class="b-footer__link">Payments</a></li>
					<li class="b-footer__item"><a href="#" class="b-footer__link">Refunds</a></li>
					<li class="b-footer__item"><a href="#" class="b-footer__link">Track Order</a></li>
					<li class="b-footer__item"><a href="#" class="b-footer__link">Services</a></li>
					<li class="b-footer__item"><a href="#" class="b-footer__link">Privacy & Security</a></li>
					<li class="b-footer__item"><a href="#" class="b-footer__link">Careers</a></li>
					<li class="b-footer__item"><a href="#" class="b-footer__link">Press</a></li>
					<li class="b-footer__item"><a href="#" class="b-footer__link">Corporate Information</a></li>
				</ul>
				<ul class="b-footer__list b-footer__list_right">
					<li class="b-footer__item"><a href="#" class="b-footer__link">Sizing</a></li>
					<li class="b-footer__item"><a href="#" class="b-footer__link">Ordering</a></li>
					<li class="b-footer__item"><a href="#" class="b-footer__link">Shiping</a></li>
					<li class="b-footer__item"><a href="#" class="b-footer__link">Return Policy</a></li>
					<li class="b-footer__item"><a href="#" class="b-footer__link">Affiliates</a></li>
					<li class="b-footer__item"><a href="#" class="b-footer__link">Find a Store</a></li>
					<li class="b-footer__item"><a href="#" class="b-footer__link">Site Map</a></li>
					<li class="b-footer__item"><a href="#" class="b-footer__link">Sign Up & Save</a></li>
				</ul>
			</div>
			<div class="b-footer b-footer_contact">
				<h3 class="b-footer__title">Contact Us</h3>
				<form action="" method="get">
					<input type="text" class="i-form__text i-form__text_footer" placeholder="Your E-mail...">
					<textarea name="message" id="message" cols="30" rows="5" class="i-form__textarea i-form__textarea_footer" placeholder="Your Text..."></textarea>
					<input type="submit" value="Send Message" class="i-form__btn i-form__btn_footer">
				</form>
			</div>
		</div>
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="bower_components/OwlCarousel2-2.2.0/dist/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>