<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/elements.css">
	<link rel="stylesheet" href="css/pages/contacts.css">
	<title>CubeWeb</title>
</head>
	<body>
		<div class="cube">
			<div class="hex-part hex-part1"></div>
			<div class="hex-part hex-part3"></div>
			<div class="hex-part hex-part5"></div>
			<div class="hex-part hex-part6"></div>
			<div class="hex-part hex-part8"></div>
			<div class="hex-part hex-part9"></div>

			<a href="index.html" class="l-cube__home"></a>
			<div class="content">
				<h1 class="content__title">Контакты</h1>
				<div class="b-contacts clearfix">
					<div class="b-contact">
						<img src="img/contact1.png" alt="контакты бара" class="b-contacts__tn1">
						<div class="text-contact text-contact_narrow">
							<p class="b__text">Телефон бара</p>
						</div>
						<div class="text-contact">
							<p class="b__text">8 (812) 900-42-09</p>
						</div>
					</div>
					<div class="b-contact">
						<img src="img/contact2.png" alt="контакты арт-директора" class="b-contacts__tn2">
						<div class="text-contact">
							<p class="b__text">Арт-Директор</p>
							<p class="b__text">Данил Пименов</p>
							<p class="b__text">8 (981) 156-83-03</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
