<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/elements.css">
	<link rel="stylesheet" href="css/pages/friend.css">
	<title>CubeWeb</title>
</head>
	<body>
		<div class="cube cube_friend">
			<img class="cube_friend__fon" src="img/friend.png" alt="">

			<div class="hex-part hex-part1"></div>
			<div class="hex-part hex-part3"></div>
			<div class="hex-part hex-part5"></div>
			<div class="hex-part hex-part6"></div>
			<div class="hex-part hex-part8"></div>
			<div class="hex-part hex-part9"></div>

			<a href="index.html" class="l-cube__home"></a>

			<div class="content">
				<h1 class="content__title">Друг в Кубе</h1>
				<p class="content__text">Текст тут текст лалала текст. Хороший текст. Тут текст. Текст тут. Нананана, как дела?Текст тут текст лалала текст. Хороший текст. Тут текст. Текст тут. Нананана, как дела?Текст тут текст лалала текст. Хороший текст. Тут текст. Текст тут. Нананана, как дела?Текст тут текст лалала текст. Хороший текст. Тут текст. Текст тут. Нананана, как дела?Текст тут текст лалала текст. Хороший текст. Тут текст. Текст тут. Нананана, как дела?Текст тут текст лалала текст. Хороший текст. Тут </p>
				<div class="cube_friend__overlay_top"></div>
				<div class="cube_friend__overlay_bot"></div>
			</div>
			
		</div>
	</body>
</html>
