<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/elements.css">
	<link rel="stylesheet" href="css/pages/gallery.css">
	<link rel="stylesheet" href="libs/owl.carousel/owl-carousel/owl.carousel.css">
	<link rel="stylesheet" href="libs/owl.carousel/owl-carousel/owl.theme.css">
	<link rel="stylesheet" href="css/owl.css">
	<title>CubeWeb</title>
</head>
	<body>
		<div class="cube">
			<div class="hex-part hex-part1"></div>
			<div class="hex-part hex-part3"></div>
			<div class="hex-part hex-part5"></div>
			<div class="hex-part hex-part6"></div>
			<div class="hex-part hex-part8"></div>
			<div class="hex-part hex-part9"></div>

			<a href="index.html" class="l-cube__home"></a>
			<h1 class="content__title">Галерея</h1>

			<div class="owl-wrapper2">
				<div id="owl-carousel" class="owl-carousel">
					<div class="owl-slide">
						<a href="party1.html" class="owl__link">
							<img class="owl-slide__img" src="img/g-tn1.jpg" alt="вечеринка 1">
						</a>
						<div class="owl-slide-text">
							<a href="party1.html" class="b__link">Вечеринка<br>
							22.12.98</a>
						</div>
					</div>
					<div class="owl-slide">
						<a href="party1.html" class="owl__link"><img class="owl-slide__img" src="img/g-tn2.jpg" alt="вечеринка 2"></a>
						<div class="owl-slide-text">
							<a href="party1.html" class="b__link">Вечеринка<br>
							22.12.98</a>
						</div>
					</div>
					<div class="owl-slide">
						<a href="party1.html" class="owl__link"><img class="owl-slide__img" src="img/g-tn3.jpg" alt="вечеринка 3"></a>
						<div class="owl-slide-text">
							<a href="party1.html" class="b__link">Вечеринка<br>
							22.12.98</a>
						</div>
					</div>
					<div class="owl-slide">
						<a href="party1.html" class="owl__link"><img class="owl-slide__img" src="img/g-tn4.jpg" alt="вечеринка 4"></a>
						<div class="owl-slide-text">
							<a href="party1.html" class="b__link">Вечеринка<br>
							22.12.98</a>
						</div>
					</div>
					<div class="owl-slide">
						<a href="party1.html" class="owl__link"><img class="owl-slide__img" src="img/g-tn4.jpg" alt="вечеринка 4"></a>
						<div class="owl-slide-text">
							<a href="party1.html" class="b__link">Вечеринка<br>
							22.12.98</a>
						</div>
					</div>
				</div>
			</div>

		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="libs/owl.carousel/owl-carousel/owl.carousel.min.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
