<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/elements.css">
	<title>CubeWeb</title>
</head>
<body>
		<div class="wrapper clearfix">
			<div class="cube__main">
				<div class="hex-part hex-part1"></div>
				<div class="hex-part hex-part2"></div>
				<div class="hex-part hex-part3"></div>
				<div class="hex-part hex-part4"></div>
				<div class="hex-part hex-part5"></div>
				<div class="hex-part hex-part6"></div>
				<div class="hex-part hex-part7"></div>
				<div class="hex-part hex-part8"></div>
				<div class="hex-part hex-part9"></div>
				<div class="hex-part hex-part10"></div>
				<div class="hex-part hex-part11"></div>
				<div class="hex-part hex-part12"></div>
				<div class="hex-part hex-part13"></div>
				<div class="hex-part hex-part14"></div>
				<div class="hex-part hex-part15"></div>
				<div class="hex-part hex-part16"></div>
				<a href="about.html" class="cube__text cube__text_about">О кубе</a>
				<a href="about.html" class="cube__link cube__link_about"></a>
			
				<a href="menu.html" class="cube__text cube__text_menu">Меню</a>
				<a href="menu.html" class="cube__link cube__link_menu"></a>
			
				<a href="gallery.html" class="cube__text cube__text_photo">Фото</a>
				<a href="gallery.html" class="cube__link cube__link_photo"></a>
			
				<a href="map.html" class="cube__text cube__text_map">Карта</a>
				<a href="map.html" class="cube__link cube__link_map"></a>
			
				<a href="faq.html" class="cube__text cube__text_faq">Фак</a>
				<a href="faq.html" class="cube__link cube__link_faq"></a>
			
				<a href="video.html" class="cube__text cube__text_video">Видео</a>
				<a href="video.html" class="cube__link cube__link_video"></a>
			
				<a href="contacts.html" class="cube__text cube__text_contacts">Контакты</a>
				<a href="contacts.html" class="cube__link cube__link_contacts"></a>
			
				<a href="address.html" class="cube__text cube__text_address">Как добраться</a>
				<a href="address.html" class="cube__link cube__link_address"></a>
			
				<a href="poster.html" class="cube__text cube__text_poster">Афиша</a>
				<a href="poster.html" class="cube__link cube__link_poster"></a>
			
				<a href="music.html" class="cube__text cube__text_music">Музыка</a>
				<a href="music.html" class="cube__link cube__link_music"></a>
			
				<a href="hangover.html" class="cube__text cube__text_hangover">Похмелье</a>
				<a href="hangover.html" class="cube__link cube__link_hangover"></a>
			
				<a href="djs.html" class="cube__text cube__text_djs">Диджеи</a>
				<a href="djs.html" class="cube__link cube__link_djs"></a>
			
				<a href="job.html" class="cube__text cube__text_job">Работа</a>
				<a href="job.html" class="cube__link cube__link_job"></a>
			
				<a href="friend.html" class="cube__text cube__text_friend">Друг в Кубе</a>
				<a href="friend.html" class="cube__link cube__link_friend"></a>
			
			</div>
			<div class="social">
				<a href="#" class="social__item social__item_vk"></a>
				<a href="#" class="social__item social__item_inst"></a>
				<a href="#" class="social__item  social__item_fb"></a>
			</div>
		</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>