<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/elements.css">
	<link rel="stylesheet" href="css/pages/party.css">
	<link rel="stylesheet" href="css/pages/photo.css">
	<link rel="stylesheet" href="libs/owl.carousel/owl-carousel/owl.carousel.css">
	<link rel="stylesheet" href="libs/owl.carousel/owl-carousel/owl.theme.css">
	<link rel="stylesheet" href="css/owl.css">
	<title>CubeWeb</title>
</head>
	<body>
		<div class="cube">
			<div class="hex-part hex-part1"></div>
			<div class="hex-part hex-part3"></div>
			<div class="hex-part hex-part5"></div>
			<div class="hex-part hex-part6"></div>
			<div class="hex-part hex-part8"></div>
			<div class="hex-part hex-part9"></div>

			<a href="index.html" class="l-cube__home"></a>
			<a href="gallery.html" class="l-cube__back"></a>
			<div class="content__photo">
				<h1 class="content__title">Вечеринка 22.12.1998</h1>
				<div class="b-photo">
					<img class="b-photo__item" src="" alt="">
				</div>
				
				<div class="owl-wrapper__party">
					<div id="owl-carousel__party" class="owl-carousel-party">
						<div class="slide-party">
				
							<a class="party__link" href="img/pic-big.jpg"><img src="img/gallery/g1.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g1.jpg"><img src="img/gallery/g1.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g1.jpg"><img src="img/gallery/g1.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g1.jpg"><img src="img/gallery/g1.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g1.jpg"><img src="img/gallery/g1.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g1.jpg"><img src="img/gallery/g1.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g1.jpg"><img src="img/gallery/g1.jpg" alt=""></a>
				
							<a class="party__link" href="img/gallery/g2.jpg"><img src="img/gallery/g2.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g2.jpg"><img src="img/gallery/g2.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g2.jpg"><img src="img/gallery/g2.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g2.jpg"><img src="img/gallery/g2.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g2.jpg"><img src="img/gallery/g2.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g2.jpg"><img src="img/gallery/g2.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g2.jpg"><img src="img/gallery/g2.jpg" alt=""></a>
				
							<a class="party__link" href="img/gallery/g3.jpg"><img src="img/gallery/g3.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g3.jpg"><img src="img/gallery/g3.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g3.jpg"><img src="img/gallery/g3.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g3.jpg"><img src="img/gallery/g3.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g3.jpg"><img src="img/gallery/g3.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g3.jpg"><img src="img/gallery/g3.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g3.jpg"><img src="img/gallery/g3.jpg" alt=""></a>
				
							<a class="party__link" href="img/gallery/g4.jpg"><img src="img/gallery/g4.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g4.jpg"><img src="img/gallery/g4.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g4.jpg"><img src="img/gallery/g4.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g4.jpg"><img src="img/gallery/g4.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g4.jpg"><img src="img/gallery/g4.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g4.jpg"><img src="img/gallery/g4.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g4.jpg"><img src="img/gallery/g4.jpg" alt=""></a>
				
				
				
						</div>
				
						<div class="slide-party">
				
							<a class="party__link" href="img/gallery/g1.jpg"><img src="img/gallery/g1.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g1.jpg"><img src="img/gallery/g1.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g1.jpg"><img src="img/gallery/g1.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g1.jpg"><img src="img/gallery/g1.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g1.jpg"><img src="img/gallery/g1.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g1.jpg"><img src="img/gallery/g1.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g1.jpg"><img src="img/gallery/g1.jpg" alt=""></a>
				
							<a class="party__link" href="img/gallery/g2.jpg"><img src="img/gallery/g2.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g2.jpg"><img src="img/gallery/g2.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g2.jpg"><img src="img/gallery/g2.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g2.jpg"><img src="img/gallery/g2.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g2.jpg"><img src="img/gallery/g2.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g2.jpg"><img src="img/gallery/g2.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g2.jpg"><img src="img/gallery/g2.jpg" alt=""></a>
				
							<a class="party__link" href="img/gallery/g3.jpg"><img src="img/gallery/g3.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g3.jpg"><img src="img/gallery/g3.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g3.jpg"><img src="img/gallery/g3.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g3.jpg"><img src="img/gallery/g3.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g3.jpg"><img src="img/gallery/g3.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g3.jpg"><img src="img/gallery/g3.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g3.jpg"><img src="img/gallery/g3.jpg" alt=""></a>
				
							<a class="party__link" href="img/gallery/g4.jpg"><img src="img/gallery/g4.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g4.jpg"><img src="img/gallery/g4.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g4.jpg"><img src="img/gallery/g4.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g4.jpg"><img src="img/gallery/g4.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g4.jpg"><img src="img/gallery/g4.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g4.jpg"><img src="img/gallery/g4.jpg" alt=""></a>
							<a class="party__link" href="img/gallery/g4.jpg"><img src="img/gallery/g4.jpg" alt=""></a>
				
						</div>
					</div>
				</div>
				<div class="cube_friend__overlay_top"></div>
				<div class="cube_friend__overlay_bot"></div>
			</div>

		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="libs/owl.carousel/owl-carousel/owl.carousel.min.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
