<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/elements.css">
	<title>CubeWeb</title>
</head>
	<body>
		<div class="cube">
			<div class="hex-part hex-part1"></div>
			<div class="hex-part hex-part3"></div>
			<div class="hex-part hex-part5"></div>
			<div class="hex-part hex-part6"></div>
			<div class="hex-part hex-part8"></div>
			<div class="hex-part hex-part9"></div>

			<a href="index.html" class="l-cube__home"></a>
			<h1 class="content__title wer">Афиша</h1>
		</div>
	</body>
</html>
