<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/main.min.css">
	<!--[if lt IE 9]>
    <script src="bower_libs/html5shiv/dist/html5shiv.js"></script>
	<![endif]-->
	<title>Добр Бобр</title>
</head>
<body>
	<div class="wrapper">
	<header class="header-main">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<ul class="header-nav">
							<li class="nav-item nav-home"><a href="index.html"></a></li>
							<li class="nav-item"><a href="catalog.html">Каталог товаров</a></li>
							<li class="nav-item"><a href="about.html">О компании</a></li>
							<li class="nav-item"><a href="delivery.html">Доставка</a></li>
							<li class="nav-item"><a href="wholesale.html">Купить оптом</a></li>
							<li class="nav-item"><a href="tutorials.html">Видео уроки</a></li>
							<li class="nav-item"><a href="contacts.html">Контакты</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div> <!--header-top-->
		<div class="header-bottom">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 clearfix">
						<div class="header-bottom-block">
							<a href="index.html" class="header-logo"></a>
						</div>
						<div class="header-bottom-block">
							<p class="header-block-text">Кинетический песок оптом и в розницу от производителя</p>
						</div>
						<div class="header-bottom-block">
							<p class="header-text-tel">8-800 <span>233-33-33</span></p>
							<p class="header-text-tel-dop">Звонок по России бесплатный</p>
						</div>
						<div class="header-bottom-block">
							<a href="#" class="header-btn-call">Заказать звонок</a>
						</div>
						<div class="header-bottom-block">
							<div class="header-cart-block">
								<a href="cart.html" class="header-cart">Корзина <span>5 245 Р</span></a>
							</div>
						</div>
					</div>
				</div> <!--row-->
			</div> <!--container-->
		</div> <!--header-bottom-->
	</header>

<section class="top-banner">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="banner-inner">
					<div class="banner-inner-block">
						<ul class="banner-features">
							<li class="banner-features-item banner-features-item-sand">Кинтетический песок от российского производителя ТМ ДобрБобр</li>
							<li class="banner-features-item banner-features-item-delivery">Доставка по всей России и СНГ</li>
							<li class="banner-features-item banner-features-item-guarantee">100% гарантия качества и соответствие стандартам безопасности </li>
						</ul>
						<a href="purchase.html" class="btn btn-purchase">Заказать</a>
					</div>
					
				</div> <!--banner-inner-->
			</div>
		</div> <!--row-->
	</div> <!--container-->
</section>

<div class="features">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="features-item features-item-eco"><p class="feature-item-text">Экологически чистый продукт</p></div>
				<div class="features-item features-item-price"><p class="feature-item-text">
					Доступная цена от 350 <sup>руб.</sup>
				</p></div>
				<div class="features-item features-item-delivery"><p class="feature-item-text">Экспресс-доставка от 1 дня</p></div>
				<div class="features-item features-item-quality"><p class="feature-item-text">Европейское качество</p></div>
				<div class="features-item features-item-smart"><p class="feature-item-text">Технологии smart flowing sand</p></div>
			</div>
		</div>
	</div>
</div> <!--features-->

<div class="quote-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 clearfix">
				<div class="quote-inner">
					<p class="quote-text">Процесс игры в песок высвобождает заблокированную энергию и "активизирует возможности самоисцеления, заложенные в человеческой психике".</p>
					<p class="quote-author">К. Г. Юнг, психолог, основатель терапии песком</p>
					<a href="theraphy.html" class="quote-theraphy">Подробнее о терапии песком >></a>
				</div> <!--quote-inner-->
			</div>
		</div> <!--row-->
	</div> <!--container-->
</div> <!--quote-wrapper-->

<section class="properties">
	
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="section-title">Удивительные свойства фантастического
				кинетического песка «ДобрБобр»</h2>
				<p class="section-subtitle">Фантастический кинетический песок «ДобрБобр» изготовлен по особой технологии smart flowing sand</p>
				<div class="properties-inner clearfix">
					<div class="tech-step1">
						<p>Чистейший кварцевый песок промывается, просушивается и выдерживается при высокой температуре</p>
					</div>
					<div class="tech-step2">
						<p>Каждая песчинка обрабатывается антибактериальной полимерной матрицей с ионами серебра</p>
					</div>
					<div class="pre-result">
						<p>В результате</p>
					</div>
					<div class="post-result">
						<p>...получается настоящий <br> фантастический песок с уникальными свойствами</p>
					</div>
					<div class="prop-block-bottom">
						<h3>Каждая песчинка чувствуется на ощупь</h3>
						<p>По тактильным ощущениям он на 100% похож на природный песок, а не на пластилин</p>
					</div>
					<div class="prop-block-bottom">
						<h3>На 100% экологичный продукт</h3>
						<p>Пищевые компоненты и кварцевый песок соединяются с помощью инновационной технологии, безопасность которой подтверждена сертификатами. Для сравнения: в продуктах большинства производителей, представленных на рынке, содержится акриловый клей и другие химикаты</p>
					</div>
					<div class="prop-block-bottom">
						<h3>Нейтральный натуральный запах</h3>
						<p>Фантастический песок отличается от аналогов тем, что содержит только экоматериалы – кварцевый песок и пищевые добавки</p>
					</div>
				</div>
			</div> <!--col-xs-12-->
		</div>
	</div>

</section>

<section class="we-recommend">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 clearfix">
				<h2 class="section-title">Мы рекомендуем</h2>
				<div class="item-block">
					<img src="img/item-1.jpg" alt="Кинетический песок ДобрБобр, 0,5 кг">
					<p>Кинетический песок ДобрБобр, 0,5 кг</p>
					<div class="item-block-colors">
						<form>
							<input type="radio" id="green-radio" name="color"><label for="green-radio" class="label label-green"></label>
							<input type="radio" id="grey-radio" name="color"><label for="grey-radio" class="label label-grey"></label>
							<input type="radio" id="pink-radio" name="color"><label for="pink-radio" class="label label-pink"></label>
							<input type="radio" id="blue-radio" name="color"><label for="blue-radio" class="label label-blue"></label>
							<input type="radio" id="brown-radio" name="color"><label for="brown-radio" class="label label-brown"></label>
						</form>
					</div>
					<div class="item-block-buy">
						<p class="item-price">350 <sup>руб.</sup></p>
						<a href="#" class="btn item-buy"></a>
					</div>
				</div> <!--item-block-->
				<div class="item-block">
					<img src="img/item-2.jpg" alt="Кинетический песок ДобрБобр, 0,5 кг">
					<p>Кинетический песок ДобрБобр, 0,5 кг</p>
					<div class="item-block-colors">
						<form>
							<input type="radio" id="green-radio2" name="color"><label for="green-radio2" class="label label-green"></label>
							<input type="radio" id="grey-radio2" name="color"><label for="grey-radio2" class="label label-grey"></label>
							<input type="radio" id="pink-radio2" name="color"><label for="pink-radio2" class="label label-pink"></label>
							<input type="radio" id="blue-radio2" name="color"><label for="blue-radio2" class="label label-blue"></label>
							<input type="radio" id="brown-radio2" name="color"><label for="brown-radio2" class="label label-brown"></label>
						</form>
					</div>
					<div class="item-block-buy">
						<p class="item-price">350 <sup>руб.</sup></p>
						<a href="#" class="btn item-buy"></a>
					</div>
				</div> <!--item-block-->
				<div class="item-block">
					<img src="img/item-3.jpg" alt="Кинетический песок ДобрБобр, 0,5 кг">
					<p>Кинетический песок ДобрБобр, 0,5 кг</p>
					<div class="item-block-colors">
						<form>
							<input type="radio" id="green-radio3" name="color"><label for="green-radio3" class="label label-green"></label>
							<input type="radio" id="grey-radio3" name="color"><label for="grey-radio3" class="label label-grey"></label>
							<input type="radio" id="pink-radio3" name="color"><label for="pink-radio3" class="label label-pink"></label>
							<input type="radio" id="blue-radio3" name="color"><label for="blue-radio3" class="label label-blue"></label>
							<input type="radio" id="brown-radio3" name="color"><label for="brown-radio3" class="label label-brown"></label>
						</form>
					</div>
					<div class="item-block-buy">
						<p class="item-price">350 <sup>руб.</sup></p>
						<a href="#" class="btn item-buy"></a>
					</div>
				</div> <!--item-block-->
				<div class="item-block">
					<img src="img/item-4.jpg" alt="Кинетический песок ДобрБобр, 0,5 кг">
					<p>Кинетический песок ДобрБобр, 0,5 кг</p>
					<div class="item-block-colors">
						<form>
							<input type="radio" id="green-radio4" name="color"><label for="green-radio4" class="label label-green"></label>
							<input type="radio" id="grey-radio4" name="color"><label for="grey-radio4" class="label label-grey"></label>
							<input type="radio" id="pink-radio4" name="color"><label for="pink-radio4" class="label label-pink"></label>
							<input type="radio" id="blue-radio4" name="color"><label for="blue-radio4" class="label label-blue"></label>
							<input type="radio" id="brown-radio4" name="color"><label for="brown-radio4" class="label label-brown"></label>
						</form>
					</div>
					<div class="item-block-buy">
						<p class="item-price">350 <sup>руб.</sup></p>
						<a href="#" class="btn item-buy"></a>
					</div>
				</div> <!--item-block-->
				
				<div class="go-to-catalog-wrapper">
					<a href="catalog.html" class="go-to-catalog btn">Перейти в каталог</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="about-sand-video">
	<h2 class="section-title">О песке ДобрБобр наглядно</h2>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="about-sand-inner">
					<div class="video-wrapper">
						<button class="btn-play-video"></button>
						<img src="img/video-bg.png" alt="" class="video-bg">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="advantages">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 clearfix">
				<h2 class="section-title title-advantages">Преимущества песка "ДобрБобр"</h2>
				<div class="advantage-item advantage-castle">
					<p>Отлично держит форму, не липнет к рукам</p>
				</div>
				<div class="advantage-item advantage-palm">
					<p>Работает при любой влажности</p>
				</div>
				<div class="advantage-item advantage-cup">
					<p>Срок службы 5 лет</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="reasons">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="section-title">Почему родители выбирают фантастический кинетический песок «ДобрБобр»</h2>
				<div class="reasons-inner">
					<div class="reasons-item reasons-item1">
						<h3 class="reasons-item-title">Безопасность</h3>
						<p class="reasons-item-text">стандарты качества ISO9001 и ГОСТ</p>
					</div>
					<div class="reasons-item reasons-item2">
						<h3 class="reasons-item-title">Чистота</h3>
						<p class="reasons-item-text">оставляет чистыми руки, одежду, мебель</p>
					</div>
					<div class="reasons-item reasons-item3">
						<h3 class="reasons-item-title">Технологии</h3>
						<p class="reasons-item-text">изготовлен по инновационной технологии smart flowing sand</p>
					</div>
					<div class="reasons-item reasons-item4">
						<h3 class="reasons-item-title">Сохранение свойств</h3>
						<p class="reasons-item-text">не засыхает на воздухе, не теряет форму</p>
					</div>
					<div class="reasons-item reasons-item5">
						<h3 class="reasons-item-title">Хранение</h3>
						<p class="reasons-item-text">хранится при обычных условиях в пластиковой таре</p>
					</div>
					<div class="reasons-item reasons-item6">
						<h3 class="reasons-item-title">Ассортимент</h3>
						<p class="reasons-item-text">наборы для творчества на любой вкус, разнообразие цветов и ароматов</p>
					</div>
					<div class="reasons-item reasons-item7">
						<h3 class="reasons-item-title">Пластичность</h3>
						<p class="reasons-item-text">мягкий, но уплотняется при лепке, подходит для создания фигурок</p>
					</div>
					<div class="reasons-item reasons-item8">
						<h3 class="reasons-item-title">Удобство</h3>
						<p class="reasons-item-text">используется в любое время года, легко убирается</p>
					</div>
					<div class="reasons-item reasons-item9">
						<h3 class="reasons-item-title">Тактильность</h3>
						<p class="reasons-item-text">мягкий, воздушный, приятный на ощупь</p>
					</div>
					<div class="reasons-item reasons-item10">
						<h3 class="reasons-item-title">Срок службы</h3>
						<p class="reasons-item-text">пригоден для игры в течение 5 лет</p>
					</div>
					<div class="reasons-item reasons-item11">
						<h3 class="reasons-item-title">Экоматериалы</h3>
						<p class="reasons-item-text">кварцевый песок, пищевые добавки и антисептик против бактерий</p>
					</div>
				</div>
				<img src="img/sand-center.jpg" alt="Почему родители выбирают 'ДобрБобр'" class="sand-center">
				<div class="happy-parents">
					<h3 class="parents-title">Счастливые родители</h3>
					<p class="parents-text">обладатели песка ДобрБобр</p>
					<div class="counter">
						<p class="parents-count">256</p>
					</div>
					<a href="#" class="btn parents-join">Присоединиться</a>
				</div>
			</div> <!--col-xs-12-->
		</div>
	</div>
</section>

<section class="kits">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="section-title">Комплекты</h2>
				<div class="item-block">
					<img src="img/item-1.jpg" alt="Кинетический песок ДобрБобр, 0,5 кг">
					<p>Кинетический песок ДобрБобр, 0,5 кг</p>
					<div class="item-block-colors">
						<form>
							<input type="radio" id="green-radio5" name="color"><label for="green-radio5" class="label label-green"></label>
							<input type="radio" id="grey-radio5" name="color"><label for="grey-radio5" class="label label-grey"></label>
							<input type="radio" id="pink-radio5" name="color"><label for="pink-radio5" class="label label-pink"></label>
							<input type="radio" id="blue-radio5" name="color"><label for="blue-radio5" class="label label-blue"></label>
							<input type="radio" id="brown-radio5" name="color"><label for="brown-radio5" class="label label-brown"></label>
						</form>
					</div>
					<div class="item-block-buy">
						<p class="item-price">350 <sup>руб</sup></p>
						<a href="#" class="item-buy btn"></a>
					</div>
				</div> <!--item-block-->
				<div class="item-block">
					<img src="img/item-2.jpg" alt="Кинетический песок ДобрБобр, 0,5 кг">
					<p>Кинетический песок ДобрБобр, 0,5 кг</p>
					<div class="item-block-colors">
						<form>
							<input type="radio" id="green-radio6" name="color"><label for="green-radio6" class="label label-green"></label>
							<input type="radio" id="grey-radio6" name="color"><label for="grey-radio6" class="label label-grey"></label>
							<input type="radio" id="pink-radio6" name="color"><label for="pink-radio6" class="label label-pink"></label>
							<input type="radio" id="blue-radio6" name="color"><label for="blue-radio6" class="label label-blue"></label>
							<input type="radio" id="brown-radio6" name="color"><label for="brown-radio6" class="label label-brown"></label>
						</form>
					</div>
					<div class="item-block-buy">
						<p class="item-price">350 <sup>руб</sup></p>
						<a href="#" class="item-buy btn"></a>
					</div>
				</div> <!--item-block-->
				<div class="item-block">
					<img src="img/item-3.jpg" alt="Кинетический песок ДобрБобр, 0,5 кг">
					<p>Кинетический песок ДобрБобр, 0,5 кг</p>
					<div class="item-block-colors">
						<form>
							<input type="radio" id="green-radio7" name="color"><label for="green-radio7" class="label label-green"></label>
							<input type="radio" id="grey-radio7" name="color"><label for="grey-radio7" class="label label-grey"></label>
							<input type="radio" id="pink-radio7" name="color"><label for="pink-radio7" class="label label-pink"></label>
							<input type="radio" id="blue-radio7" name="color"><label for="blue-radio7" class="label label-blue"></label>
							<input type="radio" id="brown-radio7" name="color"><label for="brown-radio7" class="label label-brown"></label>
						</form>
					</div>
					<div class="item-block-buy">
						<p class="item-price">350 <sup>руб</sup></p>
						<a href="#" class="item-buy btn"></a>
					</div>
				</div> <!--item-block-->
				<div class="item-block">
					<img src="img/item-4.jpg" alt="Кинетический песок ДобрБобр, 0,5 кг">
					<p>Кинетический песок ДобрБобр, 0,5 кг</p>
					<div class="item-block-colors">
						<form>
							<input type="radio" id="green-radio8" name="color"><label for="green-radio8" class="label label-green"></label>
							<input type="radio" id="grey-radio8" name="color"><label for="grey-radio8" class="label label-grey"></label>
							<input type="radio" id="pink-radio8" name="color"><label for="pink-radio8" class="label label-pink"></label>
							<input type="radio" id="blue-radio8" name="color"><label for="blue-radio8" class="label label-blue"></label>
							<input type="radio" id="brown-radio8" name="color"><label for="brown-radio8" class="label label-brown"></label>
						</form>
					</div>
					<div class="item-block-buy">
						<p class="item-price">350 <sup>руб</sup></p>
						<a href="#" class="item-buy btn"></a>
					</div>
				</div> <!--item-block-->
				<div class="go-to-catalog-wrapper">
					<a href="catalog.html" class="go-to-catalog btn">Перейти в каталог</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="reviews">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="slider-wrapper">
					<h3 class="section-title">Последние отзывы</h3>
					<div id="slider-reviews">
						<div class="slide">
							<img src="img/review01.jpg" alt="Ирина и Юля, 1,5 года, Казань">	
							<p class="slide-text">Значимость этих проблем настолько очевидна, что консультация с широким активом способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Товарищи! начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. </p>
							<p class="slide-text">Задача организации, в особенности же постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений.</p>
							<p class="slide-author">Ирина и Юля, 1,5 года, Казань</p>
						</div> <!--slide-->
						<div class="slide">
							<img src="img/review01.jpg" alt="Ирина и Юля, 1,5 года, Казань">	
							<p class="slide-text">Значимость этих проблем настолько очевидна, что консультация с широким активом способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Товарищи! начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. </p>
							<p class="slide-text">Задача организации, в особенности же постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений.</p>
							<p class="slide-author">Ирина и Юля, 1,5 года, Казань</p>
						</div> <!--slide-->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="dobrbobr">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 clearfix">
				<div class="dobrbobr-inner">
					<div class="dobrbobr-inner-block">
						<h2 class="dobrbobr-title">Знакомьтесь – это Добр Бобр!</h2>
						<p class="dobrbobr-text">Он живет в России и, как хороший друг, заботится о нашем общем будущем – детях, их счастливом детстве и гармоничном развитии. Поэтому Добр Бобр придумывает веселые игры и учит детей играть с ними. Игры от Бобра объединяют семью за общим делом, заряжают позитивом и добрыми эмоциями.</p>
						<div class="dobrbobr-gift">
							<p class="dobrbobr-text-alt">Получите от нашего Бобра рецепты игр с фантастическим кинетическим песком бесплатно!</p>
							<a href="#" class="btn take-gift">Получить сейчас</a>
						</div>
					</div>
				</div>
			</div> <!--col-xs-12-->
		</div>
	</div>
</section>

<section class="compare">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 clearfix">
				
				<h2 class="section-title">Фантастический кинетический песок «ДобрБобр» — лучшая альтернатива игре в песочнице</h2>

				<table class="compare-table">
					<tr>
						<th class="left-title">Обычный песок в уличной песочнице</th>
						<th class="right-title">Кинетический песок «ДобрБобр»</th>
					</tr>
					<tr>
						<td class="compare-left compare1">Игры в песочнице доступны только летом.</td>
						<td class="compare-right">Ребенок играет в любое время года.</td>
					</tr>
					<tr>
						<td class="compare-left compare2">Рассыпается, мало пластичен, требует смачивания водой.</td>
						<td class="compare-right">Течет сквозь пальцы, и позволяет создавать фигурки без использования воды.</td>
					</tr>
					<tr>
						<td class="compare-left compare3">Пачкает одежду, плохо собирается с пола.</td>
						<td class="compare-right">Легко стряхнуть с ткани и собрать с гладкой поверхности.</td>
					</tr>
					<tr>
						<td class="compare-left compare4">Бывает заражен инфекциями, яйцами паразитов.</td>
						<td class="compare-right">Полностью безопасен, содержит антибактериальные добавки.</td>
					</tr>
					<tr>
						<td class="compare-left compare5">Фигурки быстро высыхают и рассыпаются.</td>
						<td class="compare-right">Фигурки сохраняют свою форму, если спрессовать песок, ими можно играть.</td>
					</tr>
					<tr>
						<td class="compare-left compare6">Плохо подходит для домашних игр. </td>
						<td class="compare-right">Идеален для игры в домашних условиях. </td>
					</tr>
				</table>
				<div class="advice">
					<h3 class="advice-title">Совет от бобра</h3>
					<p class="advice-text">«Не бойтесь уборки после игры ребенка с песком. Ведь вы решаете важную задачу – помогаете развитию детей и даете им простор для творчества. Не ограничивайте их свободу, пусть они играют в свое удовольствие. Песок хорошо убирается с ровной поверхности, ребенок может играть, сидя на полу на небольшом коврике или домашней песочнице – потом вы быстро соберете рассыпанные песчинки. При игре на ковре комочки собирают руками, остатки песка легко удаляются пылесосом». </p>
				</div> <!--advice-->
			</div>
		</div>
	</div>
</section>

<div class="purchase">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="purchase-inner">
					<img src="img/sand-center.png" alt="" class="banner-mid-sand">
					<p class="purchase-text">Закажите фантастический кинетический песок с быстрой доставкой </p>
					<a href="purchase.html" class="btn btn-purchase-banner">Заказать</a>
				</div>
			</div>
		</div>
	</div>
</div> <!--purchase-->

<section class="games">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 clearfix">
				<h2 class="section-title games-title">Игры с кинетическим песком «ДобрБобр» — уникальный инструмент для гармоничного воспитания детей </h2>
				<div class="game-item">
					<img src="img/game01.jpg" alt="Развитие мелкой моторики">
					<h4 class="game-item-title">Развитие мелкой моторики</h4>
					<p class="game-item-text">Песок – лучшее средство тренировки пальцев рук. Мелкие движения развивают речь, мышление, внимание, память</p>
				</div> <!--game-item-->

				<div class="game-item">
					<img src="img/game02.jpg" alt="Досуг с пользой">
					<h4 class="game-item-title">Досуг с пользой</h4>
					<p class="game-item-text">Совместное творчество детей и родителей вместо отвлечения ребенка смартфоном, планшетом или компьютерными играми</p>
				</div> <!--game-item-->

				<div class="game-item">
					<img src="img/game03.jpg" alt="Творчество и креативность">
					<h4 class="game-item-title">Творчество и креативность</h4>
					<p class="game-item-text">Ребенок становится творцом, он создает собственный мир. Кинетический песок «ДобрБобр» позволяет воплотить в реальность детские фантазии</p>
				</div> <!--game-item-->

				<div class="game-item">
					<img src="img/game04.jpg" alt="Адресное внимание">
					<h4 class="game-item-title">Адресное внимание</h4>
					<p class="game-item-text">Родители в совместном творчестве с ребенком уделяют ему персональное внимание, жизненно необходимое для правильного развития психики</p>
				</div> <!--game-item-->

				<div class="game-item">
					<img src="img/game05.jpg" alt="Релаксация">
					<h4 class="game-item-title">Релаксация</h4>
					<p class="game-item-text">Работа с песком снимает стресс и успокаивает ребенка. Учит его выражать эмоции через творчество</p>
				</div> <!--game-item-->

				<div class="game-item">
					<img src="img/game06.jpg" alt="Обучение">
					<h4 class="game-item-title">Обучение</h4>
					<p class="game-item-text">Изучение счета, формы, цветов, букв. Информация в игровой форме усваивается ребенком на 95%</p>
				</div> <!--game-item-->

				<div class="game-item">
					<img src="img/game07.jpg" alt="Психологическая поддержка">
					<h4 class="game-item-title">Психологическая поддержка</h4>
					<p class="game-item-text">Сюжетные игры с песком помогают проиграть проблемные ситуации. Вы поймете, что беспокоит и тревожит вашего малыша</p>
				</div> <!--game-item-->

				<div class="game-item">
					<img src="img/game08.jpg" alt="Эмоциональная сфера">
					<h4 class="game-item-title">Эмоциональная сфера</h4>
					<p class="game-item-text">Игры с песком снимают раздражительность, учат созиданию и создают атмосферу гармонии</p>
				</div> <!--game-item-->

				<div class="game-item">
					<img src="img/game09.jpg" alt="Развлечение">
					<h4 class="game-item-title">Развлечение</h4>
					<p class="game-item-text">Игры должны занимать 70% досуга ребенка. Песок «ДобрБобр» сделает игру веселой, творческой и полезной</p>
				</div> <!--game-item-->

				<div class="advice advice-small">
					<h3 class="advice-title advice-title">Совет от бобра</h3>
					<p class="advice-text">«В фантастический песок играют не только руками. Рассыпьте его по полу и разрешите малышу походить по песку босыми ножками. Он не только получит массу удовольствия, но и укрепит стопу. Хождение босиком по фантастическому кинетическому песку – лучшая профилактика плоскостопия».</p>
				</div> <!--advice-->
				
				<div class="colors-pick-block">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<div class="colors-pick-inner">
									<div class="colors-modal">
										<p class="colors-modal-text">Посмотрите, какие варианты цветов есть в каталоге </p>
										<a href="catalog.html" class="btn to-catalog">Перейти в каталог</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!--col-xs-12-->
		</div>
	</div>
</section>

<section class="reasons-to-buy">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="section-title">7 причин купить у нас</h2>
				<ul class="reasons-list clearfix">
					<li class="reason-item reason-item1">Собственное производство в России с контролем качества продукции</li>
					<li class="reason-item reason-item2">Сертификация по российским стандартам ГОСТ 25779-90, ТУ № 9630-001-04232345-2016 и международным ISO9001</li>
					<li class="reason-item reason-item3">Точное соответствие товара заявленным характеристикам</li>
					<li class="reason-item reason-item4">Быстрая сборка заказа и доставка в максимально короткие сроки</li>
					<li class="reason-item reason-item5">Экологически чистые материалы и современные технологии</li>
					<li class="reason-item reason-item6">Яркий фантастический песок, увлекающий детей и удобный для родителей</li>
					<li class="reason-item reason-item7">Высокое качество продукции по низкие цене</li>
				</ul>
				<img class="reasons-bg-star" src="img/star-bg.png" alt="фон-звезда">
				<img class="reasons-bg-fishes" src="img/fishes-bg.png" alt="фон-рыбки">
			</div> <!--col-xs-12-->
		</div>
	</div>
</section>

<section class="certificates">
	<h2 class="section-title">Качество подтверждено сертификатами</h2>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<img src="img/certificate1.jpg" alt="сертификат1" class="certificate">
				<img src="img/certificate2.jpg" alt="сертификат2" class="certificate">
				<img src="img/certificate3.jpg" alt="сертификат3" class="certificate">
			</div>
		</div>
	</div>
</section>

<section class="questions">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="section-title">О чем часто спрашивают родители?</h2>
				<div class="questions-slick-wrapper">
					<div class="slider-cloud">
						<div id="slider-questions" class="slider-questions">
						
							<div class="slide-q">
								<h4 class="slide-q-title">А вдруг ребенок проглотит песок?</h4>
								<p class="slide-q-text">Фантастический кинетический песок «ДобрБобр» состоит из безопасных материалов и пищевых добавок. Если ребенок попробует песчинки на вкус, это не нанесет вреда его здоровью. Однако маленькие дети должны находиться под присмотром родителей – глотать наш песок не вреднее, чем обычный, но также не желательно</p>
							</div> <!--slide-->
							
							<div class="slide-q">
								<h4 class="slide-q-title">А вдруг ребенок проглотит песок?</h4>
								<p class="slide-q-text">Фантастический кинетический песок «ДобрБобр» состоит из безопасных материалов и пищевых добавок. Если ребенок попробует песчинки на вкус, это не нанесет вреда его здоровью. Однако маленькие дети должны находиться под присмотром родителей – глотать наш песок не вреднее, чем обычный, но также не желательно</p>
							</div> <!--slide-->

							<div class="slide-q">
								<h4 class="slide-q-title">А вдруг ребенок проглотит песок?</h4>
								<p class="slide-q-text">Фантастический кинетический песок «ДобрБобр» состоит из безопасных материалов и пищевых добавок. Если ребенок попробует песчинки на вкус, это не нанесет вреда его здоровью. Однако маленькие дети должны находиться под присмотром родителей – глотать наш песок не вреднее, чем обычный, но также не желательно</p>
							</div> <!--slide-->
							<div class="slide-q">
								<h4 class="slide-q-title">А вдруг ребенок проглотит песок?</h4>
								<p class="slide-q-text">Фантастический кинетический песок «ДобрБобр» состоит из безопасных материалов и пищевых добавок. Если ребенок попробует песчинки на вкус, это не нанесет вреда его здоровью. Однако маленькие дети должны находиться под присмотром родителей – глотать наш песок не вреднее, чем обычный, но также не желательно</p>
							</div> <!--slide-->
							<div class="slide-q">
								<h4 class="slide-q-title">А вдруг ребенок проглотит песок?</h4>
								<p class="slide-q-text">Фантастический кинетический песок «ДобрБобр» состоит из безопасных материалов и пищевых добавок. Если ребенок попробует песчинки на вкус, это не нанесет вреда его здоровью. Однако маленькие дети должны находиться под присмотром родителей – глотать наш песок не вреднее, чем обычный, но также не желательно</p>
							</div> <!--slide-->
							<div class="slide-q">
								<h4 class="slide-q-title">А вдруг ребенок проглотит песок?</h4>
								<p class="slide-q-text">Фантастический кинетический песок «ДобрБобр» состоит из безопасных материалов и пищевых добавок. Если ребенок попробует песчинки на вкус, это не нанесет вреда его здоровью. Однако маленькие дети должны находиться под присмотром родителей – глотать наш песок не вреднее, чем обычный, но также не желательно</p>
							</div> <!--slide-->
						
						</div> <!--#slider-questions--></div>
						<a href="#" class="btn btn-buy">Купить с доставкой завтра</a>
				</div> <!--questions-slick-wrapper-->
				
			</div>
		</div>
	</div>
</section>

	<footer class="footer-main">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 clearfix">
					
					<div class="footer-block-left">
						<a href="index.html" class="header-logo header-logo-bottom"></a>
						<p class="footer-tel">8 800 233 33 33</p>
						<a href="mailto:info@dobrbobr.ru" class="footer-email">info@dobrbobr.ru</a>
						<div class="footer-social">
							<a href="#" class="social-item social-item-facebook"></a>
							<a href="#" class="social-item social-item-youtube"></a>
							<a href="#" class="social-item social-item-instagram"></a>
							<a href="#" class="social-item social-item-vk"></a>
							<a href="#" class="social-item social-item-pinterest"></a>
						</div>
						<p class="copyright">© ООО «МКИ», 2016</p>
					</div>
	
					<div class="footer-block-mid">
						<ul class="footer-menu">
							<li class="footer-menu-item"><a href="catalog.html
							">Каталог</a></li>
							<li class="footer-menu-item"><a href="about.html">О компании</a></li>
							<li class="footer-menu-item"><a href="delivery.html">Доставка</a></li>
							<li class="footer-menu-item"><a href="wholesale.html">Купить оптом</a></li>
							<li class="footer-menu-item"><a href="video.html">Видео Уроки</a></li>
							<li class="footer-menu-item"><a href="contacts.html">Контакты</a></li>
						</ul>
					</div>
	
					<div class="footer-block-right">
						<form action="post">
							<h3 class="form-title">Подпишитесь на рассылку,</h3>
							<h3 class="form-title-bottom">чтобы всегда быть в курсе событий</h3>
							<input type="text" name="name" placeholder="Имя" class="footer-input" required>
							<input type="text" name="email" placeholder="E-mail" class="footer-input" required>
							<input type="submit" class="btn btn-subscribe" value="Подписаться">
						</form>
					</div>
	
				</div>
			</div>
		</div>
	</footer>
	</div> <!--wrapper-->
	<script type="text/javascript" src="js/main.min.js"></script>
	<script type="text/javascript" src="js/custom/custom.js"></script>
</body>
</html>