.b-contacts {
	width: 370px;
	margin: 0 auto;
	margin-top: 90px;
}

.b-contacts__tn {
	display: inline-block;
}
.b-contact {
	float: left;
}
.b-contact:last-child {
	float: right;
}
.text-contact {
	text-align: center;
}
.text-contact_narrow {
	width: 100px;
	width: 80px;
	margin: 0 auto;
}