.party__link {
	float: left;
	width: 14.2%;
	height: 76px;
}
.party__link:nth-child(7n+1) {
	clear: both;
}
.party__link img {
	max-width: 100%;
}
.owl-wrapper__party {
	width: 604px;
	width: 508px;
	height: 450px;
	height: 300px;
	position: relative;
	top: 20px;
	margin: 0 auto;
}